Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

In [1]:
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.13 (default, Mar 16 2022, 17:37:17)
[GCC 7.5.0]
Pandas version 1.3.5
Matplotlib version 3.2.2

In [4]:
# The initial set of baby names and birth rates
names = ['Abhishek','Anandi','Kunal','Mayanky','Siddharth','Parth','Deepak']
births = [968, 50, 35,31,180, 578, 973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Abhishek', 968),
 ('Anandi', 50),
 ('Kunal', 35),
 ('Mayanky', 31),
 ('Siddharth', 180),
 ('Parth', 578),
 ('Deepak', 973)]

In [5]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

       Names  Births
0   Abhishek     968
1     Anandi      50
2      Kunal      35
3    Mayanky      31
4  Siddharth     180
5      Parth     578
6     Deepak     973

In [6]:
Df1=pd.read_csv("/content/drive/MyDrive/Machine Learning/Salary_Data.csv")
Df1.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [7]:
Df1.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [8]:
Sorted=Df1.sort_values(['Salary'], ascending=False)
Sorted.head(5)

    YearsExperience    Salary
28             10.3  122391.0
29             10.5  121872.0
26              9.5  116969.0
23              8.2  113812.0
27              9.6  112635.0

In [9]:
Df1.loc[10]

YearsExperience        3.9
Salary             63218.0
Name: 10, dtype: float64

In [10]:
Df1.groupby("Salary")